/* H O M E */

.conteudoPHP{
    display:flex;
    justify-content: center;
    align-items: center;

    

}

.containerPHP{
    justify-content: center;

}


 
figure{
    border-radius: 15px;
    border: solid 1px rgb(100, 0, 0);
    margin: 10px;
    font-size: 14px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    width: 200px;
    height: 323px;
    float: left;
    background-color: rgb(100, 0, 0);
    transition: 1.5s;
    text-align: center;
    color: wheat;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

figure:hover{    
    color: white;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-color: aliceblue;
    transition: 1.5s;
    
}
figure img{
    border-radius: 15px;
    width: 200px;
    height: 300px;
    transition: 1s;
}
figure img:hover{ 
    filter: brightness(10%);
    transition: 1s;
}

.bannerADM{
    display: flex;
    justify-content: center;
    margin: 2%;
    background-color: black;
    
}

/* FIM PÁGINA HOME */

/* PÁGINA FILME INTERNO */

.exibirFilmeInterno{
    border: 2px solid wheat;
    margin-top: 20px;
    border-radius: 15px;
    color: wheat;
    width: 800px;
    height: 70vh;
    box-shadow: 0 0 10px 0.5px rgb(100, 0, 0);
    background: rgba(0, 0, 0, 0.9);
    
}
.exibirFilmeInterno p img{
    border: 2px solid wheat;
    float: left;
    border-radius: 15px;
    width: 400px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.exibirFilmeInterno h1 {
    text-shadow: 0 0 30px #fff;
  }
.justify-text {
    height: 150px;
    background-color: rgb(100, 0, 0);
    text-align: justify;
    padding: 2%;
}

.center-text {
    text-align: center;
}